body
{
    height: 754px;
    background-image: linear-gradient(to bottom right, rgb(86, 229, 248), rgb(133, 62, 180));
}

.CalcCol
{
    box-shadow: 1px 3px 7px #000000;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 16%;
    background-image: linear-gradient(to top left, rgb(66, 207, 226), rgb(176, 111, 219));
}

.btn-info
{
    background-color: rgb(8, 206, 212);
}

#inputPanel
{
    height: 60px;
    text-align: right;
    font-size: 20px;
    background-color: white;
}

.calcontainer 
{
    margin-top: 20px;
    width: 350px;
}

.button
{
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    width: 80px;
    height: 45px;
}

.buttonRE
{
    width: 172px;
}